@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        *{
            margin:0;
            padding: 0;
        }
        .parent{
            width: 100%;
            display: flex; 
            flex-direction: column;
        }
        .informal{
            background-color:#D2E9E9 ;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;            
        }
        .formal{
            background-color: #E3F4F4;
            width: 100%;
            height: 100%;
            float: left;
            justify-content: space-between;
            align-items: center;
        }
        a{
            text-decoration: none;
            color:black;
            font-weight: bold;
            
           
        }
        img{
            object-fit: contain;
            float: left;
            width: 300px;
            padding: 20px;
            height: 400px;
            flex-direction: row;
            
    
        }
        a:hover{
            color: Red;
            text-decoration: underline;

        }
        button{
            border-radius: 20px;
            height: 30px;
            width:100px;
            border-style: none;
            background-color: #E57C23;
            font-weight: 600;
        }
        button:hover{
            background-color: #D61355;
            color:white;
        }
        .insta{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .snap{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .reddit{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .discord{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .linkedin{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .github{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .email{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        
        }
        .space{
            padding: 12px;
        }
                /*mobile devices */
@media (min-width:320px) and (max-width:480px){

    h1{
    font-size: 20px;
    color: blue;
    width: 100%;
    background-color: black;
    text-align: center;
 }

}
/*tablet devices*/
@media (min-width: 481px) and (max-width:768px){
 
    h1{
        font-size: 20px;
        color: red;
        width: 100%;
        background-color: black;
        text-align: center;
     }

}
/*laptop devices*/
@media (min-width:769px) and (max-width: 1024px){

    h1{
        font-size: 20px;
        color: darkmagenta;
        width: 100%;
        background-color: black;
        text-align: center;
     }

}