html,body{
    background-color:#F9DBBB ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

img{
    object-fit: contain;
    float: left;
    width: 300px;
    padding: 20px;
    height: 400px;
    flex-direction: row;
}
button{
    border-radius: 20px;
    height: 30px;
    width:100px;
    border-style: none;
    background-color: #F48484;
    font-weight: 600;
}
button:hover{
    background-color: #D61355;
    color:white;
}
span{
    background-color: black;
    color:white;
    font-weight:300;
    
}
                /*mobile devices */
@media (min-width:320px) and (max-width:480px){

    h1{
    font-size: 10px;
    color: blue;
    width: 100%;
    background-color: white;
    text-align: center;
 }

}
/*tablet devices*/
@media (min-width: 481px) and (max-width:768px){

    h1{
        font-size: 10px;
        color: red;
        width: 100%;
        background-color: white;
        text-align: center;
     }

}
/*laptop devices*/
@media (min-width:769px) and (max-width: 1024px){

    h1{
        font-size: 10px;
        color: darkmagenta;
        width: 100%;
        background-color: white;
        text-align: center;
     }

}